{%  extends '/templates/default.twig' %}
{%  block content %}
    <h1>List of Users</h1>
    <div class="row">
        <div class="column" style="float: left;width: 33.33%;padding: 10px;height: 300px;">
            <h3>Nome</h3>
                {% for user in users %}
                <p>{{ user.name }}</p>
                {% endfor %}
        </div>
        <div class="column" style="float: left;width: 33.33%;padding: 10px;height: 300px;">
            <h3>Email</h3>
            {% for user in users %}
                <p>{{ user.email }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}